/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    font-family: 'Poppins', sans-serif;
}

.andaBackgroundColor {
    background-color: #3865E5;
}

.andaTextColor {
    color: #3865E5;
}

.homeBackgroundImg {
    background-image: "./img/logo-anda-blanco.png";
}